
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

* {
    margin: 0;
    padding: 0;

    scroll-behavior: smooth;

    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    --main-color: #376955;
}

/* Normal Mode Styles */
body {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ===================== Navbar Section ===================== */

.container .navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 0 -5px 10px black;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

.container .navbar-container .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 10px 0;
}

.container .navbar-container .navbar .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.container .navbar-container .navbar .logo i {
    font-size: 40px;
    color: var(--main-color);
}

.container .navbar-container .navbar .logo h1 {
    font-size: 2rem;
}

.container .navbar-container .navbar .content {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.container .navbar-container .navbar .content a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

.container .navbar-container .navbar .content a.active {
    color: var(--main-color);
}

.container .navbar-container .navbar .content a::after {
    content: '';
    visibility: hidden;
    height: 3px;
    border-radius: 2px;
    width: 50%;
    background: var(--main-color);
    position: absolute;
    top: 46px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease, visibility 0.6s;
}

.container .navbar-container .navbar .content a.active::after {
    visibility: visible;
    transform: scaleX(1);
}

.container .navbar-container .navbar .content a:hover {
    color: var(--main-color);
}

.container .navbar-container .navbar .content a:hover::after {
    visibility: visible;
    transform: scaleX(1);
    transform-origin: bottom left;
}

.container .navbar-container .navbar .content button {
    outline: none;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.container .navbar-container .navbar .content button:hover {
    color: var(--main-color);
}

/* ===================== Home Section ===================== */

.container .home-container {
    position: relative;
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
}


.container .home-container .slide-container {
    display: flex;
    align-items: center;
    width: 100%;
    transition: transform 0.5s ease-in-out; 
}

.container .home-container .slide-container .slide {
    width: 95%;
    flex-shrink: 0;
}

.container .home-container .slide-container .slide .slide-item {
    display: none;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.container .home-container .slide-container .slide-item:first-child {
    display: flex;
}

.container .home-container .slide-container .slide .slide-item .description {
    flex: 1;
    width: 50%;
}

.container .home-container .slide-container .slide .slide-item .description h2 {
    font-size: 60px;
    font-weight: 500;
    margin: 0;
}

.container .home-container .slide-container .slide .slide-item .description h1 {
    font-size: 80px;
    margin-top: -20px;
}

.container .home-container .slide-container .slide .slide-item .description p {
    color: #7f8c8d;
    font-size: 1.2rem;
    margin: 20px 0;
}

.container .home-container .slide-container .slide .slide-item .description button {
    background-color: var(--main-color);
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.container .home-container .slide-container .slide .slide-item .description button:hover {
    background-color: #182f26;
    color: #fff;
}

.container .home-container .slide-container .slide .slide-item .image {
    flex: 1;
    text-align: end;
    width: 50%;
}

.container .home-container .slide-container .slide .slide-item .image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.container .home-container .prev,
.container .home-container .next {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background: none;
    color: var(--main-color);
    border: none;
    height: 500px;
    width: 300px;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
}

.container .home-container .prev {
    left: -280px;
}

.container .home-container .next {
    right: -280px;
}

.container .home-container .slide-control {
    text-align: center;
    margin-top: 20px;
}

.container .home-container .slide-control .dots {
    height: 5px;
    width: 50px;
    background-color: #0003;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 3px;
    position: relative;
    bottom: 30px;
}

.container .home-container .slide-control .dots.active {
    background-color: #0005;
}

.container .home-container .slide-container .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5%;
}

.container .home-container .slide-container .icons p {
    transform: rotate(90deg);
    width: 92px;
    margin-bottom: 35px;
    color: var(--main-color);
    font-size: 20px;
}

.container .home-container .slide-container .icons span {
    content: '';
    width: 3px;
    height: 30px;
    background: var(--main-color);
    border-radius: 2px;
    margin: 3px;
}

.container .home-container .slide-container .icons i {
    color: var(--main-color);
    transition: 0.3s ease;
    cursor: pointer;
    font-size: 20px;
    padding: 3px;
}

.container .home-container .slide-container .icons i:hover {
    transform: translate(7px);
}

/* ===================== About Section ===================== */

.container .about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.container .about-container .image {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 50%;
}

.container .about-container .image img {
    width: 100%;
    transition: 0.3s ease;
}

.container .about-container .image img:hover {
    transform: scale(1.1);
}

.container .about-container .content {
    width: 50%;
    padding-left: 50px;
}

.container .about-container .content h1 {
    font-size: 55px;
    line-height: 65px;
    font-weight: 500;
}

.container .about-container .content > p {
    margin-top: 30px;
    font-size: 25px;
}

.container .about-container .content .check {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    gap: 15px;
    font-size: 20px;
}

.container .about-container .content .check div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container .about-container .content .check div i {
    color: var(--main-color);
}

.container .about-container .content .check div p {
    margin-left: 10px;
}

.container .about-container .content a {
    outline: none;
    border: none;
    background: none;
    color: var(--main-color);
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s ease;
}

.container .about-container .content a:hover {
    color: #182f26;
}

/* ===================== Products Section ===================== */

.container .products-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 100px 0 0 0;
}

.container .products-container .heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.container .products-container .heading h1 {
    font-size: 70px;
}

.container .products-container .heading div {
    content: '';
    height: 5px;
    width: 100px;
    background: var(--main-color);
    border-radius: 3px;
}

.container .products-container .filter-buttons {
    display: flex;
    margin-top: 30px;
    gap: 10px;
    flex-wrap: wrap;
}

.container .products-container .filter-buttons button {
    padding: 3px 15px;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
    border: 2px solid gray;
    color: gray;
    background: none;
    font-weight: 500;
    cursor: pointer;
    transition: 0.6s ease;
}

.container .products-container .filter-buttons button.active {
    color: var(--main-color);
    border-color: var(--main-color);
}

.container .products-container .card-container {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container .products-container .card-container .card {
    flex-grow: 1;
    flex-basis: 300px;
    padding: 20px;
    text-align: center;
    transition: 0.3s ease;
}

.container .products-container .card-container .card:hover {
    transform: scale(1.1);
    color: var(--main-color);
} 

.container .products-container .card-container .card.hide {
    display: none;
}

.container .products-container .card-container .card .description .rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container .products-container .card-container .card .description .rating i {
    color: orange;
    font-size: 18px;
}

/* ===================== Frequent Question Section ===================== */

.container .faq-container {
    width: 70%;
    padding: 100px 0;
}


.container .faq-container .heading h1 {
    font-size: 50px;
    width: 50%;
    margin-bottom: 50px;
    line-height: 70px;
}

.container .faq-container .questions-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 80px;
}

.container .faq-container .questions-container .group-one,
.container .faq-container .questions-container .group-two {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
}

.container .faq-container .questions-container .question-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    background: #0001;
    transition: 0.3s ease;
}

.container .faq-container .questions-container .question-card:hover {
    background: #0003;
}

.container .faq-container .questions-container .question-card .question {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    gap: 10px;
    font-size: 20px;
    transition: 0.3s ease;
}

.container .faq-container .questions-container .question-card .question i {
    transition: 0.6s ease;
}

.container .faq-container .questions-container .question-card .answer {
    overflow: hidden;
    height: 0;
    transition: 0.3s ease;
}

.container .faq-container .questions-container .question-card .answer p {
    margin: 20px 30px 0 30px;
    transition: 0.6s ease;
}

/* Active Question */
.container .faq-container .questions-container .question-card.active {
    padding: 15px 30px 30px 15px;
    background: var(--main-color);
}

.container .faq-container .questions-container .question-card.active .question i {
    transform: rotate(135deg);
}

.container .faq-container .questions-container .question-card.active .question p,
.container .faq-container .questions-container .question-card.active .question i,
.container .faq-container .questions-container .question-card.active .answer p {
    color: #fff;
}

/* ===================== Team Section ===================== */












/* Dark Mode Styles */
body.dark-mode {
    background-color: #191e1e;
    color: white;
}

body.dark-mode .container .navbar-container {
    background: #191e1e;
}

body.dark-mode .container .navbar-container .navbar .logo h1 {
    color: white;
}

body.dark-mode .container .navbar-container .navbar .content a {
    color: white;
}

body.dark-mode .container .navbar-container .navbar .content a:hover {
    color: var(--main-color);
}

body.dark-mode .container .navbar-container .navbar .content a.active {
    color: var(--main-color);
}

body.dark-mode .container .navbar-container .navbar .content button i {
    color: white;
}

body.dark-mode .container .home-container {
    background: #191e1e;
}

body.dark-mode .container .home-container .image::after  {
    display: none;
}












/* ===================== Scroll Bar ===================== */

::-webkit-scrollbar {
    background: none;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #376955;
    border-radius: 10px;
}

::selection {
    background-color: var(--main-color); 
    color: white;
}




@media (max-width: 768px) {
    .description h1 {
        font-size: 2rem;
    }

    .description h2 {
        font-size: 1.5rem;
    }

    .description p {
        font-size: 1rem;
    }

    .prev, .next {
        font-size: 1.5rem;
    }
}