* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .navbar-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    position: fixed;
    top: 0;
}

.container .navbar-container .content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    width: 70vw;
    z-index: 10;
}

.container .navbar-container .content-container .logo {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.container .navbar-container .content-container .logo h1 {
    font-size: 2rem;
}

.container .navbar-container .content-container .content {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.container .navbar-container .content-container .content a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

.container .navbar-container .content-container .content a.active {
    color: #376955;
}

.container .navbar-container .content-container .content a::after {
    content: '';
    visibility: hidden;
    height: 3px;
    border-radius: 2px;
    width: 50%;
    background: #376955;
    position: absolute;
    top: 45px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.6s ease, visibility 0.6s;
}

.container .navbar-container .content-container .content a.active::after {
    visibility: visible;
    transform: scaleX(1);
}

.container .navbar-container .content-container .content a:hover {
    color: #376955;
}

.container .navbar-container .content-container .content a:hover::after {
    visibility: visible;
    transform: scaleX(1);
    transform-origin: bottom left;
}

.container .navbar-container .content-container .content button {
    outline: none;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.container .navbar-container .content-container .content button:hover {
    color: #376955;
}


.container .home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background: #faebe6;
    width: 100%;
    height: 85vh;
    margin-top: 30px;
}

.container .home-container .content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70vw;
    position: relative;
}

.container .home-container .content-container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    line-height: 100px;
}

.container .home-container .content-container .content h3 {
    font-size: 70px;
    font-weight: 400;
}

.container .home-container .content-container .content h1 {
    font-size: 100px;
}

.container .home-container .content-container .content p {
    font-size: 25px;
}

.container .home-container .content-container .content button {
    width: fit-content;
    padding: 15px 30px;
    cursor: pointer;
    outline: none;
    border: none;
    background: #a0e16e;
    font-size: 20px;
    font-weight: 600;
    color: white;
    border-radius: 50px;
}

.container .home-container .content-container .image {
    display: flex;
    justify-content: end;
    width: 50%;
    position: relative;
    right: 20px;
}

.container .home-container .content-container .image::after {
    content: '';
    width: 35vw;
    height: 35vw;
    background: #f0e1cd;
    position: absolute;
    border-radius: 50%;
    right: -70px;
    bottom: -70px;
    z-index: 0;
}

.container .home-container .content-container .image img {
    width: 80%;
    z-index: 1;
}















/* Dark Mode Styles */
body.dark-mode {
    background-color: #191e1e;
    color: white;
}

body.dark-mode .container .navbar-container .content-container .logo h1 {
    color: white;
}

body.dark-mode .container .navbar-container .content-container .content a {
    color: white;
}

body.dark-mode .container .navbar-container .content-container .content a:hover {
    color: #376955;
}

body.dark-mode .container .navbar-container .content-container .content a.active {
    color: #376955;
}

body.dark-mode .container .navbar-container .content-container .content button i {
    color: white;
}

body.dark-mode .container .home-container {
    background: #191e1e;
}

body.dark-mode .container .home-container .content-container .image::after  {
    display: none;
}