
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    --main-color: #376955;
}

/* Normal Mode Styles */
body {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ===================== Navbar Section ===================== */

.container .navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 0 -5px 10px black;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

.container .navbar-container .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 10px 0;
}

.container .navbar-container .navbar .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.container .navbar-container .navbar .logo i {
    font-size: 40px;
    color: var(--main-color);
}

.container .navbar-container .navbar .logo h1 {
    font-size: 2rem;
}

.container .navbar-container .navbar .content {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.container .navbar-container .navbar .content a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

.container .navbar-container .navbar .content a.active {
    color: var(--main-color);
}

.container .navbar-container .navbar .content a::after {
    content: '';
    visibility: hidden;
    height: 3px;
    border-radius: 2px;
    width: 50%;
    background: var(--main-color);
    position: absolute;
    top: 45px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease, visibility 0.6s;
}

.container .navbar-container .navbar .content a.active::after {
    visibility: visible;
    transform: scaleX(1);
}

.container .navbar-container .navbar .content a:hover {
    color: var(--main-color);
}

.container .navbar-container .navbar .content a:hover::after {
    visibility: visible;
    transform: scaleX(1);
    transform-origin: bottom left;
}

.container .navbar-container .navbar .content button {
    outline: none;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.container .navbar-container .navbar .content button:hover {
    color: var(--main-color);
}

/* ===================== Home Section ===================== */

.container .home-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    width: 70%;
    height: 90vh;
}


.container .home-container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.container .home-container .content h1 {
    font-size: 70px;
    line-height: 90px;
}

.container .home-container .content p {
    font-size: 20px;
    margin-top: 30px;
}

.container .home-container .content button {
    width: fit-content;
    padding: 15px 30px;
    cursor: pointer;
    outline: none;
    border: none;
    background: var(--main-color);
    font-size: 20px;
    font-weight: 600;
    color: white;
    border-radius: 10px;
    margin-top: 30px;
}

.container .home-container .image {
    text-align: center;
    width: 49%;
}

.container .home-container .image img {
    width: 70%;
}

.container .home-container .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 10px; */
    width: 1%;
}

.container .home-container .icons p {
    transform: rotate(90deg);
    width: 92px;
    margin-bottom: 35px;
    color: var(--main-color);
    font-size: 20px;
}

.container .home-container .icons span {
    content: '';
    width: 3px;
    height: 30px;
    background: var(--main-color);
    border-radius: 2px;
    margin: 3px;
}

.container .home-container .icons i {
    color: var(--main-color);
    transition: 0.3s ease;
    cursor: pointer;
    font-size: 20px;
    padding: 3px;
}

.container .home-container .icons i:hover {
    transform: translate(7px);
}

/* ===================== About Section ===================== */

.container .about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.container .about-container .image {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 50%;
}

.container .about-container .image img {
    width: 100%;
    transition: 0.3s ease;
}

.container .about-container .image img:hover {
    transform: scale(1.1);
}

.container .about-container .content {
    width: 50%;
    padding-left: 50px;
}

.container .about-container .content h1 {
    font-size: 55px;
    line-height: 65px;
    font-weight: 500;
}

.container .about-container .content > p {
    margin-top: 30px;
    font-size: 25px;
}

.container .about-container .content .check {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 15px;
    font-size: 20px;
}

.container .about-container .content .check div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container .about-container .content .check div i {
    color: var(--main-color);
}

.container .about-container .content .check div p {
    margin-left: 10px;
}

.container .about-container .content button {
    margin-top: 50px;
    outline: none;
    border: none;
    background: none;
    color: var(--main-color);
    font-size: 20px;
    cursor: pointer;
}

/* ===================== Products Section ===================== */

.container .products-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 100px 0;
}

.container .products-container .heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.container .products-container .heading h1 {
    font-size: 70px;
}

.container .products-container .heading div {
    content: '';
    height: 5px;
    width: 100px;
    background: var(--main-color);
    border-radius: 3px;
}

.container .products-container .filter-buttons {
    display: flex;
    margin-top: 30px;
    gap: 10px;
    flex-wrap: wrap;
}

.container .products-container .filter-buttons button {
    padding: 3px 15px;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
    border: 2px solid gray;
    color: gray;
    background: none;
    font-weight: 500;
    cursor: pointer;
    transition: 0.6s ease;
}

.container .products-container .filter-buttons button.active {
    color: var(--main-color);
    border-color: var(--main-color);
}

.container .products-container .card-container {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container .products-container .card-container .card {
    flex-grow: 1;
    flex-basis: 300px;
    padding: 20px;
    text-align: center;
}

.container .products-container .card-container .card.hide {
    display: none;
}

.container .products-container .card-container .card .description .rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container .products-container .card-container .card .description .rating i {
    color: orange;
    font-size: 18px;
}

/* ===================== Frequent Question Section ===================== */















/* Dark Mode Styles */
body.dark-mode {
    background-color: #191e1e;
    color: white;
}

body.dark-mode .container .navbar-container {
    background: #191e1e;
}

body.dark-mode .container .navbar-container .navbar .logo h1 {
    color: white;
}

body.dark-mode .container .navbar-container .navbar .content a {
    color: white;
}

body.dark-mode .container .navbar-container .navbar .content a:hover {
    color: var(--main-color);
}

body.dark-mode .container .navbar-container .navbar .content a.active {
    color: var(--main-color);
}

body.dark-mode .container .navbar-container .navbar .content button i {
    color: white;
}

body.dark-mode .container .home-container {
    background: #191e1e;
}

body.dark-mode .container .home-container .image::after  {
    display: none;
}