@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

* {
    margin: 0;
    padding: 0;

    scroll-behavior: smooth;

    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    --main-color: #376955;
}

/* Normal Mode Styles */
body {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ===================== Navbar Section ===================== */

.container .navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 0 -5px 10px black;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

.container .navbar-container .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 10px 0;
}

.container .navbar-container .navbar .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.container .navbar-container .navbar .logo i {
    font-size: 40px;
    color: var(--main-color);
}

.container .navbar-container .navbar .menu {
    display: none;
}

.container .navbar-container .navbar .logo h1 {
    font-size: 2rem;
}

.container .navbar-container .navbar .content {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.container .navbar-container .navbar .content a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

.container .navbar-container .navbar .content a.active {
    color: var(--main-color);
}

.container .navbar-container .navbar .content a::after {
    content: '';
    visibility: hidden;
    height: 3px;
    border-radius: 2px;
    width: 50%;
    background: var(--main-color);
    position: absolute;
    top: 46px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease, visibility 0.6s;
}

.container .navbar-container .navbar .content a.active::after {
    visibility: visible;
    transform: scaleX(1);
}

.container .navbar-container .navbar .content a:hover {
    color: var(--main-color);
}

.container .navbar-container .navbar .content a:hover::after {
    visibility: visible;
    transform: scaleX(1);
    transform-origin: bottom left;
}

.container .navbar-container .navbar .content button {
    outline: none;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.container .navbar-container .navbar .content button:hover {
    color: var(--main-color);
}

/* ===================== Home Section ===================== */

.container .home-container {
    position: relative;
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
}


.container .home-container .slide-container {
    display: flex;
    align-items: center;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.container .home-container .slide-container .slide {
    width: 95%;
    flex-shrink: 0;
}

.container .home-container .slide-container .slide .slide-item {
    display: none;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.container .home-container .slide-container .slide-item:first-child {
    display: flex;
}

.container .home-container .slide-container .slide .slide-item .description {
    flex: 1;
    width: 50%;
}

.container .home-container .slide-container .slide .slide-item .description h2 {
    font-size: 60px;
    font-weight: 500;
    margin: 0;
}

.container .home-container .slide-container .slide .slide-item .description h1 {
    font-size: 80px;
    margin-top: -20px;
}

.container .home-container .slide-container .slide .slide-item .description p {
    color: #7f8c8d;
    font-size: 1.2rem;
    margin: 20px 0;
}

.container .home-container .slide-container .slide .slide-item .description button {
    background-color: var(--main-color);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.container .home-container .slide-container .slide .slide-item .description button:hover {
    background: #284d3e;
    color: #fff;
}

.container .home-container .slide-container .slide .slide-item .image {
    flex: 1;
    text-align: end;
    width: 50%;
}

.container .home-container .slide-container .slide .slide-item .image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.container .home-container .prev,
.container .home-container .next {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background: none;
    color: var(--main-color);
    border: none;
    height: 500px;
    width: 300px;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
}

.container .home-container .prev {
    left: -280px;
}

.container .home-container .next {
    right: -280px;
}

.container .home-container .slide-control {
    text-align: center;
    margin-top: 20px;
}

.container .home-container .slide-control .dots {
    height: 5px;
    width: 50px;
    background-color: #0003;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 3px;
    position: relative;
    bottom: 30px;
}

.container .home-container .slide-control .dots.active {
    background-color: #0005;
}

.container .home-container .slide-container .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5%;
}

.container .home-container .slide-container .icons p {
    transform: rotate(90deg);
    width: 92px;
    margin-bottom: 35px;
    color: var(--main-color);
    font-size: 20px;
}

.container .home-container .slide-container .icons span {
    content: '';
    width: 3px;
    height: 30px;
    background: var(--main-color);
    border-radius: 2px;
    margin: 3px;
}

.container .home-container .slide-container .icons i {
    color: var(--main-color);
    transition: 0.3s ease;
    cursor: pointer;
    font-size: 20px;
    padding: 3px;
}

.container .home-container .slide-container .icons i:hover {
    transform: translate(7px);
}

/* ===================== About Section ===================== */

.container .about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.container .about-container .image {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 50%;
}

.container .about-container .image img {
    width: 100%;
    transition: 0.3s ease;
}

.container .about-container .image img:hover {
    transform: scale(1.1);
}

.container .about-container .content {
    width: 50%;
    padding-left: 50px;
}

.container .about-container .content h1 {
    font-size: 55px;
    line-height: 65px;
    font-weight: 500;
}

.container .about-container .content>p {
    margin-top: 30px;
    font-size: 25px;
}

.container .about-container .content .check {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    gap: 15px;
    font-size: 20px;
}

.container .about-container .content .check div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container .about-container .content .check div i {
    color: var(--main-color);
}

.container .about-container .content .check div p {
    margin-left: 10px;
}

.container .about-container .content a {
    outline: none;
    border: none;
    background: none;
    color: var(--main-color);
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s ease;
}

.container .about-container .content a:hover {
    color: #182f26;
}

/* ===================== Products Section ===================== */

.container .products-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 100px 0;
}

.container .products-container .heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.container .products-container .heading h1 {
    font-size: 70px;
}

.container .products-container .heading div {
    content: '';
    height: 5px;
    width: 100px;
    background: var(--main-color);
    border-radius: 3px;
}

.container .products-container .filter-buttons {
    display: flex;
    margin-top: 30px;
    gap: 10px;
    flex-wrap: wrap;
}

.container .products-container .filter-buttons button {
    padding: 3px 15px;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
    border: 2px solid gray;
    color: gray;
    background: none;
    font-weight: 500;
    cursor: pointer;
    transition: 0.6s ease;
}

.container .products-container .filter-buttons button.active {
    color: var(--main-color);
    border-color: var(--main-color);
}

.container .products-container .card-container {
    display: flex;
    margin-top: 100px;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.container .products-container .card-container .card {
    flex-grow: 1;
    flex-basis: 300px;
    padding: 20px;
    text-align: center;
    transition: 0.3s ease;
}

.container .products-container .card-container .card:hover {
    transform: scale(1.1);
    color: var(--main-color);
}

.container .products-container .card-container .card.hide {
    display: none;
}

.container .products-container .card-container .card .description .rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container .products-container .card-container .card .description .rating i {
    color: orange;
    font-size: 18px;
}

/* ===================== Frequent Question Section ===================== */

.container .faq-container {
    width: 70%;
    padding: 100px 0;
    position: relative;
}

.container .faq-container::after {
    content: '';
    width: 100vw;
    height: 70%;
    padding: 100px 0;
    background: #e1f0eb;
    position: absolute;
    left: -22.15%;
    top: 0;
    z-index: -1;
}


.container .faq-container .heading h1 {
    font-size: 50px;
    width: 50%;
    margin-bottom: 50px;
    line-height: 70px;
    color: #000b;
}

.container .faq-container .questions-container {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    padding: 40px;
}

.container .faq-container .questions-container .group-one,
.container .faq-container .questions-container .group-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    width: 50%;
}

.container .faq-container .questions-container .question-card {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 15px;
    border-radius: 5px;
    background: #0001;
    transition: 0.3s ease;
}

.container .faq-container .questions-container .question-card:hover {
    background: #0003;
}

.container .faq-container .questions-container .question-card .question {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    gap: 10px;
    font-size: 20px;
    transition: 0.3s ease;
}

.container .faq-container .questions-container .question-card .question i {
    transition: 0.6s ease;
}

.container .faq-container .questions-container .question-card .answer {
    overflow: hidden;
    height: 0;
    transition: 0.3s ease;
}

.container .faq-container .questions-container .question-card .answer p {
    margin: 20px 30px 0 30px;
    transition: 0.6s ease;
}

/* Active Question */
.container .faq-container .questions-container .question-card.active {
    padding: 15px 30px 30px 15px;
    background: var(--main-color);
}

.container .faq-container .questions-container .question-card.active .question i {
    transform: rotate(135deg);
}

.container .faq-container .questions-container .question-card.active .question p,
.container .faq-container .questions-container .question-card.active .question i,
.container .faq-container .questions-container .question-card.active .answer p {
    color: #fff;
}

/* ===================== Team Section ===================== */

.container .team-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 100px 0;
    position: relative;
}

.container .team-container .heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.container .team-container .heading h1 {
    font-size: 70px;
}

.container .team-container .heading div {
    content: '';
    height: 5px;
    width: 100px;
    background: var(--main-color);
    border-radius: 3px;
}

.container .team-container .heading-description {
    width: 60%;
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    color: #0009;
}

.container .team-container .members {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 50px;
    gap: 30px;
}

.container .team-container .members .member {
    flex-basis: 23.3%;
    background: #dfdfdf;
    padding: 30px;
    border-radius: 10px;
    position: relative;
    transition: 0.3s ease;
    overflow: hidden;
}

.container .team-container .members .member::after {
    content: '';
    height: 100px;
    width: 100px;
    background: #6fcfa8;
    position: absolute;
    top: 0;
    right: -5px;
    clip-path: polygon(50% 0%, 95% 0%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

.container .team-container .members .member:hover {
    transform: translateY(-30px);
    background: #d4d4d4;
}

.container .team-container .members .member:hover::after,
.container .team-container .members .member:hover::before {
    background: #66bb99;
}

.container .team-container .members .member i {
    position: absolute;
    top: 25px;
    right: 20px;
    z-index: 9;
    color: white;
    font-size: 50px;
}

.container .team-container .members .member .image {
    width: 100px;
    height: 100px;
    border-radius: 60px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .team-container .members .member .image img {
    width: 100px;
    position: absolute;
}

.container .team-container .members .member:nth-child(1) .image img {
    width: 210px;
}

.container .team-container .members .member:nth-child(3) .image img {
    width: 140px;
    left: -15px;
}

.container .team-container .members .member .name {
    margin-top: 20px;
}

.container .team-container .members .member .post {
    color: #000b;
}

.container .team-container .members .member .description {
    margin-top: 20px;
}

/* ===================== Contact Us Section ===================== */

.container .contact-container {
    position: relative;
    width: 70%;
    padding: 0 0 100px 0;
}

.container .contact-container .contact-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.container .contact-container .contact-form .information {
    width: 50%;
    padding: 60px 0;
}

.container .contact-container .contact-form .information h1 {
    font-size: 40px;
}

.container .contact-container .contact-form .information>p {
    font-size: 18px;
    margin-top: 30px;
    color: #000b;
}

.container .contact-container .contact-form .information .contact-routes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.container .contact-container .contact-form .information .contact-routes div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: 18px;
}

.container .contact-container .contact-form .information .contact-routes div i {
    font-size: 25px;
    padding: 10px;
    border-radius: 30px;
    color: var(--main-color);
    box-shadow: 0 0 25px inset #0003, 0 0 3px #0004;
}

.container .contact-container .contact-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 50%;
    position: relative;
}

.container .contact-container .contact-form form .input input,
.container .contact-container .contact-form form .input input::placeholder,
.container .contact-container .contact-form form .input textarea {
    font-size: 18px;
}

.container .contact-container .contact-form form .input input,
.container .contact-container .contact-form form .input textarea {
    padding: 5px 15px;
    border: none;
    outline: none;
    border: 1px solid gray;
    background: none;
    width: 550px;
    border-radius: 5px;
}

.container .contact-container .contact-form form .input textarea {
    height: 100px;
}

.container .contact-container .contact-form form .input .error {
    color: #e20000;
    font-size: 15px;
    margin-top: 5px;
    display: block;
    text-align: start;
}

.container .contact-container .contact-form form button {
    display: inline-block;
    padding: 10px 20px;
    background: var(--main-color);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    width: fit-content;
    position: relative;
    right: 422px;
    transition: 0.3s ease;
}

.container .contact-container .contact-form form button:hover {
    background: #284d3e;
}

.container .contact-container .contact-form form button:disabled {
    right: 276px;
}

.container .contact-container .map {
    width: 100%;
    height: 40vh;
}

.container .contact-container .map iframe {
    width: 100%;
    height: 100%;
    border: 2px dashed var(--main-color);
    padding: 5px;
}

.container .contact-container::after {
    content: '';
    width: 100vw;
    height: 68vh;
    background: #e1f0eb;
    top: 0px;
    left: -22.15%;
    position: absolute;
    z-index: -1;
}

/* ===================== Footer Section ===================== */

.container .footer-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    gap: 100px;
    padding: 30px 0;
}

.container .footer-container .content-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 30px;
}

.container .footer-container .content-container .subscribe {
    width: 40%;
}

.container .footer-container .content-container .subscribe .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.container .footer-container .content-container .subscribe .logo i {
    font-size: 30px;
    color: var(--main-color);
}

.container .footer-container .content-container .subscribe h1 {
    font-size: 30px;
    padding-right: 100px;
}

.container .footer-container .content-container .subscribe .subscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background: #e1f0eb;
    padding: 15px;
    gap: 10px;
    margin-right: 40px;
    margin-top: 20px;
}

.container .footer-container .content-container .subscribe .subscription .input {
    display: flex;
    flex-direction: row;
}

.container .footer-container .content-container .subscribe .subscription .input input {
    width: 65%;
    padding: 10px;
    background: none;
    border: none;
    outline: none;
    font-size: 18px;
}

.container .footer-container .content-container .subscribe .subscription .input input::placeholder {
    font-size: 18px;
}

.container .footer-container .content-container .subscribe .subscription .input button {
    width: 35%;
    padding: 10px 12px;
    border: none;
    background: var(--main-color);
    color: white;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s ease;
}

.container .footer-container .content-container .subscribe .subscription .input button:hover {
    background: #284d3e;
}

.container .footer-container .content-container .error-message {
    color: #e20000;
    font-size: 16px;
    position: relative;
    left: 25px;
}

.container .footer-container .cards {
    width: 60%;
}

.container .footer-container .cards .content {
    display: grid;
    grid-template-columns: 1fr 0.9fr 1fr;
    column-gap: 30px;
}

.container .footer-container .cards .content .address {
    display: flex;
    flex-direction: column;
}

.container .footer-container .cards .content .address div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 15px;
    font-size: 18px;
}

.container .footer-container .cards .content .address div i {
    position: relative;
    top: 4px;
}

.container .footer-container .cards .content .contact div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 15px;
    font-size: 18px;
}

.container .footer-container .cards .content .contact .social i {
    cursor: pointer;
}

.container .footer-container .cards .content .contact div i {
    position: relative;
    top: 4px;
}

.container .footer-container .cards .content .credit-cards {
    display: flex;
    flex-direction: column;
}

.container .footer-container .cards .content .credit-cards .card-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 30px;
}

.container .footer-container .rights i {
    color: var(--main-color);
}


























/* Dark Mode Styles */
body.dark-mode {
    background-color: #191e1e;
    color: white;
}

body.dark-mode .container .navbar-container {
    background: #191e1e;
}

body.dark-mode .container .navbar-container .navbar .logo h1 {
    color: white;
}

body.dark-mode .container .navbar-container .navbar .content a {
    color: white;
}

body.dark-mode .container .navbar-container .navbar .content a:hover {
    color: var(--main-color);
}

body.dark-mode .container .navbar-container .navbar .content a.active {
    color: var(--main-color);
}

body.dark-mode .container .navbar-container .navbar .content button i {
    color: white;
}







body.dark-mode .container .home-container {
    background: #191e1e;
}

body.dark-mode .container .home-container .image::after {
    display: none;
}






body.dark-mode .container .faq-container::after {
    background: var(--main-color);
}

body.dark-mode .container .faq-container .heading h1 {
    color: white;
}

body.dark-mode .container .faq-container .questions-container .question-card {
    background: #0003;
}

body.dark-mode .container .faq-container .questions-container .question-card:hover {
    background: #0004;
}

body.dark-mode .container .faq-container .questions-container .question-card.active {
    background: #0005;
}







body.dark-mode .container .team-container .heading-description {
    color: #fffc;
}

body.dark-mode .container .team-container .members .member:hover {
    background: #fff1;
}

body.dark-mode .container .team-container .members .member {
    background: #0003;
}

body.dark-mode .container .team-container .members .member::after,
body.dark-mode .container .team-container .members .member::before {
    background: #315d4a;
}

body.dark-mode .container .team-container .members .member:hover::after,
body.dark-mode .container .team-container .members .member:hover::before {
    background: #4a8c70;
}

body.dark-mode .container .team-container .members .member .post {
    color: #fff9;
}






body.dark-mode .container .contact-container .contact-form .information>p {
    color: #fffd;
}

body.dark-mode .container .contact-container .contact-form .information .contact-routes div i {
    color: #fff;
}

body.dark-mode .container .contact-container::after {
    background: var(--main-color);
}

body.dark-mode .container .contact-container .contact-form form button {
    background: #0004;
    transition: 0.3s ease;
}

body.dark-mode .container .contact-container .contact-form form button:disabled {
    color: white;
}

body.dark-mode .container .contact-container .contact-form form .input input,
body.dark-mode .container .contact-container .contact-form form .input textarea {
    border: 1px solid #fff7;
    color: #0007;
    background: none;
}

body.dark-mode .container .contact-container .contact-form form .input input::placeholder,
body.dark-mode .container .contact-container .contact-form form .input textarea::placeholder {
    color: #0007;
}

body.dark-mode .container .contact-container .map iframe {
    border-color: #fff;
}









/* ===================== Scroll Bar ===================== */

::-webkit-scrollbar {
    background: none;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #376955;
    border-radius: 10px;
}

::selection {
    background-color: var(--main-color);
    color: white;
}